.form-page {
  height: 100vh;
  display:flex;
  align-items: center;
  
}

.form-container {
  background: #ffffff;
  padding: 30px;
  margin: 40px auto;
  max-width: 50vh;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Input fields styling */
.form-container input {
  padding: 10;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border 0.3s ease;
}

.form-container input:focus {
  border-color: #1E4D3A;
  outline: none;
  box-shadow: 0 0 0 2px rgba(30, 77, 58, 0.1);
}

/* Button styling */
.form-container button {
  padding: 14px;
  background-color: #1E4D3A;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #357d59;
}
